PORT=3002
NATS_SERVERS=nats://nats-server:4222
DATABASE_URL=postgresql://analyzer_user:analyzer_pass@pg-analyzer:5432/analyzer_db

CU_ENDPOINT=as
CU_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

AZURE_STORAGE_CONNECTION_STRING=
AZURE_DOCUMENTS_CONTAINER=
